.nav-link {
  font-size: 17px !important;
  cursor: pointer;
}


.categories a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s;
}

.categories a:hover {
  color: blue;
}

.search-btn {
  background-color: transparent;
  border: 2px solid black;
  transition: 0.2s;
}

.search-btn:hover {
  background-color: #0d6efd;
  color: white;
}

.brand {
  text-decoration: none;
  color: gray !important;
}

.nav-link.active {
  border-bottom: 3px solid white;
}

.canva.active {
  color: orange !important;
  font-weight: bold;
  border: none;
}

.description{
  width: 50% !important;
}

.sidebar{
  position: sticky;
}

.fq{
  width: 50% !important;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex: 1;
}

.card-dis {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.card-dis .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}


@media only screen and (max-width: 600px) {
 .sidebar{
  display: none;
 }

 .description{
  width: 100% !important;
 }

 .fq{
  width: 100% !important;
 }

 .card-dis{
  min-height: 410px;
}

}


